body{
	background-image: url("bg.jpg");
	position: sticky;
}

.jumbotron {
	background: rgba(54, 54, 54, 0.5); 
	text-align: center;
}

.item{
	float: left;
	position: relative;
	padding: 5px;
}

#buttonsView{
	text-align: center;
}

#animal-form{
	text-align: center;
}

#addAnimal{
	text-align: center;
}